{% extends 'principal/base.html' %}
{% load custom_filters %}
{% block content %}
  <div class="gallery-container">
    {% for image in images %}
      <div class="gallery-item">
        <img src="{{ MEDIA_URL }}{{ image.imagen.url }}" alt="{{ image.nombre }}">
        <div class="image-details">
          <h3>{{ image.nombre }}</h3>
          <p>Autor: {{ image.autor }}</p>
          <p>Valor: {{ image.valor|format_value }}</p>

        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
