{% extends 'principal/base.html' %}

{% block content %}
  <div class="profile-container">
    <h1 class="profile-title">Hola {{ user.username }}, Bienvenido de vuelta</h1>
    
    <h2>Información del perfil</h2>
    <table class="profile-table">
      <tr>
        <th>Campo</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td>Nombre:</td>
        <td>{{ user.first_name }}</td>
      </tr>
      <tr>
        <td>Apellido:</td>
        <td>{{ user.last_name }}</td>
      </tr>
      <tr>
        <td>Nombre de usuario:</td>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <td>Correo electrónico:</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>Grupo:</td>
        <td>
          {% for group in user.groups.all %}
            {{ group.name }}
          {% endfor %}
        </td>
      </tr>
      <!-- Otros campos del perfil -->
    </table>
  </div>
  
{% endblock %}
